.model-title{
    font-family: Montserrat;
    font-size: 25px ;
    text-align: center;
    font-weight: bold; 
}
.Order-text{
    font-family: Montserrat; 
}
.jk-text{
    text-decoration: underline;
}
